*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #0F151A;
}
.hide{
    display: none !important;
}
.active{
    display: block;
}
/* Header Start */
header h1{
    color: teal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: #0F151A;
    border-bottom: 1px solid teal;
}
header .menu li a{
    color: white;
    font-size: 20px;
}
header .menu li a:hover{
    color: teal;
}
.seicon{
    color: teal;
}
.icon{
    padding: 10px 15px;
    background-color: darkslategray;
}
/* Header End */
/* Movies Start */
.himg:hover{
    transform: scale(1.1);
}
.himg{
    transition: 0.5s;
}
.playbtn{
    border: none;
    background-color: #1c2831;
    padding: 0px 15px;
}
/* Movies End */